*~
*.swp
Makefile
bin/
carstatus_for_b70/tran/bin/
carstatus_for_b70/recv/bin/
*.user*
build/
carstatus_for_b70/tran/build/
carstatus_for_b70/recv/build/
qrc_huatai.cpp
src/*~
src/*.swp
qml/*~
qml/*.swp
distense.txt
.qtquickcompiler/
hongqi_qtquickcompiler.qrc
